html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}
textarea {
    margin: 0;
    width: 100%;
    //border: none;
    resize:none;
    overflow:hidden;
}

#text2{

    position:absolute;
    overflow:auto;
    height:100%;
}

#grid {
    display: grid;
    grid-template-rows:auto 1fr auto;
    height:100%;
}
#header {
    grid-row: 1;
}
#row2 {
    grid-row: 2;
    position:relative;
}
#row3 {
    grid-row: 3;
}
